* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --fw-reg: 300;
    --fw-med: 500;
    --fw-semi: 600;
    --fw-bold: 700;
    --pri-color: #70BAE7;
}

.main {
    margin: 0 auto;
    padding: 28px; 
    max-width: 400px; 
}

.logo {
    font-size: 28px;
    font-weight: var(--fw-bold);
    color: var(--pri-color);
    text-decoration: none;
}

.container {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
}

.label {
    font-size: 22px;
    font-weight: var(--fw-med);
    margin-bottom: 25px;
}

.signin__label {
    text-align: center;
}

.form__label {
    display: block;
    font-weight: var(--fw-med);
    font-size: 16px;
    margin-bottom: 35px;
}

.form__input {
    display: block;
    font-weight: var(--fw-reg);
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-top: 10px;
    padding: 7px 15px;
    width: 100%;
}

.btn {
    width: 100%;
    height: 36.4px;
    color: #ffffff;
    background-color: var(--pri-color);
    border: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: var(--fw-med);
    font-size: 16px; 
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
}

.btn:active {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.question {
    font-size: 15px;
    font-weight: var(--fw-reg);
    margin-top: 35px;
    text-align: center;
}

.help-text {
    margin-bottom: 25px;
    text-align: start;
}

.link {
    text-decoration: none;
    color: var(--pri-color);
}


.link:focus,
.link:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.form__input:focus {
    border-color: var(--pri-color);
    outline: none;
}

.form__label:focus-within {
    color: var(--pri-color);
}


@media (min-width: 60rem) {
    
    .main {
        width: 422px;
        margin: 0 auto;
        margin-top: 18vh;  
    }
    
    .logo {
        font-size: 30px;
    }
    
    .container {
        margin-top: 28px;
        padding: 35px 44px;
        box-shadow: 2px 6px 18px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 422px;
    }
    
    .flex-container {
        display: flex;
    }
    
    .lastname {
        margin-left: 18px;
    }
}